{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first page</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
    <header>
        <div class="navbar">
            <a href="{% url 'home' %}"><img src="../static/images/py.png" alt="python logo" class="navlogo" /></a>
            <nav>


                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'blog1' %}">Blogs</a>



            </nav>
        </div>
    </header>
    {% block content%}
    {% endblock content%}

    <footer>
        <div class="downleft">
            Prajwal Giri ⏤ &#169 2022
        </div>
        <div class="downright">
            <a href="https://www.facebook.com" class="social-link" target="_blank">Facebook</a>
            <a href="https://www.linkedin.com" class="social-link" target="_blank">Linkedin</a>
            <a href="https://twitter.com/?lang=en" class="social-link" target="_blank">Twitter</a>
        </div>

    </footer>
</body>

</html>