{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first page</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
    <header>
        <div class="navbar">
            <a href="{% url 'home' %}"><img src="../static/images/py.png" alt="python logo" class="navlogo" /></a>
            <nav>


                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'blog1' %}">Blogs</a>



            </nav>
        </div>
    </header>
    <div class="container">
        {% if user.is_authenticated %}
        <div class="flex">
            <h2 class="hero-title">Hi {{ user.username }}!</h2>
            <p><a href="{% url 'logout' %}" class="nav-links color-red">Log out</a></p>
        </div>
        <main>
            <div class="container">

                {% block content%}
                {% endblock content%}
            </div>
        </main>
        {% else %}
        <p class="blog-card-subtitle">You are not logged in.</p>
        <div class="flex mb-4">
            <a href="{% url 'login' %}" class="abc">Log In</a>
            {% endif %}
            <a href="{% url 'signup' %}" class="abc">Sign Up</a>
        </div>
        <br>
        <div class="container">
            {% block login %}
            {% endblock login %}
        </div>
        <div class="container">
            {% block signup %}
            {% endblock signup %}
        </div>




    </div>
    <footer>
        <div class="downleft">
            Prajwal Giri ⏤ &#169 2022
        </div>
        <div class="downright">
            <a href="https://www.facebook.com" class="social-link" target="_blank">Facebook</a>
            <a href="https://www.linkedin.com" class="social-link" target="_blank">Linkedin</a>
            <a href="https://twitter.com/?lang=en" class="social-link" target="_blank">Twitter</a>
        </div>

    </footer>
</body>

</html>