<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>
    <div class="container">
      <header>
        <div class="navbar">
          <a href="./index.html"
            ><img src="../static/images/Site-logo.svg" alt="logo of site"
          /></a>
          <nav>
            <a href="./work.html">Work </a>
            <a href="./about.html">About</a>
            <a href="./playground.html">Playground</a>
            <a href="./contact.html">Contact</a>
          </nav>
        </div>
      </header>

      <main>
        <section class="hero">
          <div class="char">
            <h1>Hi I'm Mehmet Akif Karasu, 3D artist & sculptor.</h1>

            <p class="subheading">
              My work is mainly focused on third-dimension modeling, texturing
              and rendering. I like exploring the creatures with a touch of dark
              surrealism for characters and production.
              <br />
              <br />
              Now I’m an interactive media design student in Istanbul ⏤
              currently freelancing and seeking internship opportunities.
            </p>
          </div>
          <div class="image">
            <img src="../static/images/Profile Photo.png" alt="" />
          </div>
        </section>

        <section class="second">
          <div class="line1">
            <p><u>Main Software</u></p>
            <p>
              Pixologic ZBrush, Autodesk Maya, The Foundry Mari, Arnold
              Renderer, Blender, Forger
            </p>
          </div>
        </section>
      </main>

      <footer></footer>
    </div>
  </body>
</html>
