{% extends "base.html" %}

{% block content %}

<main>
    <section class="hero">

        <div class="herotext">
            <div class="intro">
                <h1>{{result.herotitle}}</h1>
            </div>
            <div class="describtion">
                {{result.herotext1}}
                <br><br>
                {{result.herotext2}}
            </div>
        </div>
        <div class="image">
            <img src="{{result.hero_image.url}}" alt="image of profile" class="profile">

        </div>

    </section>
    <section class="middle">

        <div class="software">
            <h5>{{result.middletitle}}</h5>

            <span>{{result.middletext}}

            </span>
        </div>
        <br>

        <div class="software">
            <h5>{{result.middletitle1}}</h5>

            <span>{{result.middletext1}}

            </span>
        </div>
        <br>

    </section>


    <section class="end">

        <div class="left">
            {{ result.endtext }}
        </div>
        <div class="right">
            <h2> {{ result.endemail }}</h2><br>
            <p><a href="#">{{ result.contactme}}</a></p>
        </div>

    </section>
</main>

{% endblock content%}